name: Build and Deploy to DOKS

on:
  push:
    branches: [ main ]
  workflow_dispatch:

env:
  REGISTRY: registry.digitalocean.com
  IMAGE_NAME: nodejs-task

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install doctl
        uses: digitalocean/action-doctl@v2
        with:
          token: ${{ secrets.DIGITALOCEAN_TOKEN }}

      - name: Log in to DigitalOcean Container Registry
        run: doctl registry login --expiry-seconds 1200

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and Push Image
        run: |
          IMAGE=${{ env.REGISTRY }}/${{ secrets.REGISTRY_NAME }}/${{ env.IMAGE_NAME }}
          echo "Using image name: $IMAGE"
          docker buildx build \
            --platform linux/amd64 \
            -t $IMAGE:${{ github.sha }} \
            -t $IMAGE:latest \
            --push .

      - name: Update deployment file with new image
        run: |
          sed -i 's|registry.digitalocean.com/.*/task-api:.*|registry.digitalocean.com/'${{ secrets.REGISTRY_NAME }}'/task-api:'${{ github.sha }}'|' k8s/deployment.yaml

      - name: Save cluster kubeconfig
        run: doctl kubernetes cluster kubeconfig save ${{ secrets.CLUSTER_NAME }}

      - name: Deploy to Kubernetes
        run: |
          kubectl apply -f k8s/namespace.yaml
          kubectl apply -f k8s/deployment.yaml
          kubectl apply -f k8s/service.yaml

      - name: Verify deployment
        run: |
          kubectl rollout status deployment/task-api -n task-api
          kubectl get pods -n task-api
          kubectl get service task-api-service -n task-api